#page-map {
    width: 100vw;
    height: 100vh;

    position: relative;
    display: flex;
}

#page-map aside {
    width: 600px;
    background: linear-gradient(329.54deg, #CA1D0D 0%, #D7220F 100%);
    padding: 50px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#page-map aside h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 42px;
    margin-top: 64px;

    text-align: center;
}

#page-map aside p {
    line-height: 28px;
    margin-top: 24px;

    display: flex;
    justify-content: center;
}

#page-map aside .middle-section {
    height: 100%;
    padding-top: 20px;
    
    display: flex;
    align-items: center;
    flex-direction: column;
}

#page-map aside .middle-section input {
    width: 238px;
    height: 34px;
    left: 127px;
    top: 247px;

    padding-left: 10px;
    padding-right: 10px;

    background: #FFFFFF;
    border-radius: 20px;
    border: none;
}

#page-map aside .middle-section table {
    padding-top: 20px;
    padding-top: 20px;
    width: 100%;

    font-size: 15px;
    text-align: center;
}

#page-map aside .middle-section .table-orders thead tr th {
    font-size: 20px;
    padding-bottom: 20px;

    text-align: center;
}

#page-map aside .middle-section .table-orders .view-order {
    width: 32px;
    height: 32px;
    background: #E87812;
    border-radius: 10px;
    border: none;
    margin: 2px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 0.2s;
}

#page-map aside .middle-section .table-orders .view-order:hover {
    cursor: pointer;
    background: #AB400D;
}

#page-map aside footer {
    display: flex;
    flex-direction: column;

    line-height: 24px;
}

#page-map aside footer strong {
    font-weight: 800;
}

#page-map .leaflet-container {
    z-index: 5;
}

#page-map .add-client {
    position: absolute;
    right: 40px;
    bottom: 40px;

    z-index: 10;

    width: 64px;
    height: 64px;
    background: #E87812;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 0.2s;
}

#page-map .add-client:hover {
    background: #AB400D;
}

#page-map .view-orders {
    position: absolute;
    right: 120px;
    bottom: 40px;

    z-index: 10;

    width: 64px;
    height: 64px;
    background: #E87812;
    color: white;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 0.2s;
}

#page-map .view-orders:hover {
    background: #AB400D;
}

#page-map .new-order {
    width: 32px;
    height: 32px;
    padding-top: 5px;
    background: #E87812;
    border-radius: 10px;
    margin: 2px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 0.2s;
}

#page-map .new-order:hover {
    background: #AB400D;
}

#page-map .map-popup .leaflet-popup-content-wrapper {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    box-shadow: none;
}

#page-map .map-popup .leaflet-popup-content {
    color: #E87812;
    font-size: 20px;
    font-weight: bold;
    margin: 8px 12px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page-map .map-popup .leaflet-popup-content a {
    width: 40px;
    height: 40px;
    background: #E87812;
    box-shadow: 17.2868px 27.6589px 41.4884px rgba(23, 142, 166, 0.16);
    border-radius: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#page-map .map-popup .leaflet-popup-content a:hover {
    background: #AB400D;
}

#page-map .map-popup .leaflet-popup-tip-container {
    display: none;
}